body {
    background: rgb(51, 51, 51);
    color:rgb(17, 209, 0);
    font-family: "Segoe UI", "Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-align: center;
}
